body{
    background-color: #f5f4b6;
}
.conteudo-total{
    width: 100%;
    height: 100%;
}
.nome-jogo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 40px auto 0px auto;
    justify-content: center;
       
}
.nome-jogo h1{
    font-size: 56px;
    font-family: 'Roboto', sans-serif;
    color: #75B79E;
    letter-spacing: -0.004em;
    font-weight: 700;    
    text-align: center;
}
.conteudo-cartas{
    margin: 47px 119px 100px 119px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.carta{
    position: relative;
    transition: all 600ms ease;
    transform-style: preserve-3d;
    

}
.virada{
    transform: rotateY(180deg);
}
.lado {    
    margin: 25px 25px 25px 25px;
    background-color: #A7E9AF;
    height: 146px;
    width: 117px;
    border-radius: 6px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
}
.frente {
    background-image: url(./imagens/back.png);
    backface-visibility: hidden;
    position: absolute;
}
.verso{
    background-color: #A7E9AF;    
}
.verso img{
    width: 80px;
    height: 80px;
    margin: 30px 20px 10px 20px;
}

@media (max-width:614px){
    .nome-jogo h1{
        font-size: 36px;       
    }
}


